/PRO192/test1/target/
/Kỳ 2/PRO192/mavenproject1/target/
/Kỳ 2/PRO192/test/target/
/Kỳ 2/PRO192/JavaApplication1/nbproject/private/
/Kỳ 2/PRO192/JavaApplication1/build/
/Kỳ 2/PRO192/test1/nbproject/private/
/Kỳ 2/PRO192/JavaApplication2/nbproject/private/
/Kỳ 2/PRO192/JavaApplication2/build/
